#sw-main-container {
	width: 25%;
	height: 80%;
	position: absolute;
	top: 0;
	right: 0;
	background: var(--grey);
	border-left: 1px solid black;
	border-bottom: 2px solid black;
	border-top: 1px solid black;
	z-index: 2;
	display: none;
	justify-content: center;
	align-items: flex-start;
}